@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&family=PT+Serif:wght@400;700&family=Roboto:wght@300&family=Yeseva+One&display=swap");
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  color: #FFFFFF;
  font-family: "PT Serif", serif;
}

.body-overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

h1 {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFC700;
  font-family: "Yeseva One", serif;
  font-weight: 400;
}

h2 {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFC700;
}

h3 {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
}

.none-display {
  display: none;
}

.yellow__button {
  background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
  border-radius: 20px;
  width: 189px;
  height: 41px;
  color: #181818;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.opacity__button {
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  width: 189px;
  height: 41px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.disabled__button {
  background: #DADADA;
  border-radius: 20px;
  width: 189px;
  height: 41px;
  color: #8E8E8E;
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.active__button {
  color: #181818;
  background: radial-gradient(50% 50% at 50% 50%, #FFC700 0%, #FFC700 100%);
}

header {
  height: 46px;
  width: 100%;
  min-width: 320px;
  background-color: #181818;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}

.header {
  display: flex;
}

.header__container {
  position: relative;
  display: none;
}

.header__nav {
  min-height: 100vh;
  width: 100vw;
  background-color: #181818;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 0.5s all ease;
  transform: translateY(-100vh);
}

.header__nav-block {
  visibility: visible;
  pointer-events: all;
  transition: 0.5s all ease;
  transform: translateY(0);
  overflow: hidden;
}

.menu__close-cross {
  width: 28px;
  height: 28px;
  position: relative;
  top: 7px;
  right: 15px;
  float: right;
}
.menu__close-cross span {
  height: 4px;
  width: 30px;
  position: absolute;
  top: 20px;
  left: 5px;
  background: #FFC700;
  transform: rotate(45deg);
}
.menu__close-cross ::after {
  content: "";
  height: 4px;
  width: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #FFC700;
  transform: rotate(-90deg);
}

.header__menu {
  padding-left: 23px;
}
.header__menu a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.header__menu :not(:last-child) {
  margin-bottom: 27px;
}
.header__menu li:first-child {
  margin-top: 110px;
}
.header__menu button {
  padding: 0;
  margin: 0;
}

.header__menu-hidden {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 550px;
}
.header__menu-hidden a {
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFC700;
  font-family: "Yeseva One", serif;
  font-weight: 400;
}

.header__hidden-container {
  align-items: center;
}
.header__hidden-container img {
  width: 48px;
  height: 47px;
  margin-right: 9px;
}
.header__hidden-container h1 {
  margin-top: 8px;
}

.header__ready {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFC700;
}

main {
  padding-top: 40px;
}

.wrapper {
  min-width: 320px;
}

.main__window {
  background-image: url(../img/2401680.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: fit-content;
  padding: 0px 20px;
  text-align: center;
  min-width: 320px;
  padding-top: 27px;
}
.main__window div:first-child {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.main__window h2 {
  padding-top: 15px;
  padding-bottom: 150px;
}

.two-colors {
  padding-top: 22px;
  padding-bottom: 18px;
  text-align: center;
  line-height: 19px;
  font-size: 15px;
}
.two-colors :first-child {
  color: #FFC700;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.two-colors :last-child {
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.button__more {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.button__more label {
  font-weight: 400;
  font-size: 8px;
  line-height: 11px;
  text-align: center;
  letter-spacing: 0.05em;
  padding-top: 5px;
  padding-bottom: 15px;
}
.button__more button {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease;
}

.button__more-reverse {
  transition: 0.3s all ease;
  transform: rotate(-180deg);
}

.quiz__display {
  display: flex;
}

.quiz {
  background-image: url(../img/rain_bk2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 47px);
  flex-direction: column;
  text-align: center;
}

.quiz__progress {
  height: 10px;
  border-radius: 10.5px;
  background-color: #F2F3F3;
  margin-top: 17px;
}

.quiz__progress-inner {
  height: 100%;
  width: 60%;
  border-radius: 10.5px;
  background: #3BDE7C;
  transition: all 0.3s ease-in-out;
}

.quiz__content {
  width: 100%;
  margin-top: auto;
  align-self: center;
  max-width: 900px;
  min-width: 320px;
}

.answer__list {
  padding-top: 38px;
  text-align: center;
}
.answer__list li {
  width: 100%;
  height: 50px;
  background-color: rgba(155, 151, 151, 0.4666666667);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.answer__list li :hover {
  cursor: pointer;
}
.answer__list li input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  pointer-events: none;
}
.answer__list li label {
  padding-left: 80px;
  font-weight: 400;
  width: 10000000000%;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.answer__list li ::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 39px;
  position: absolute;
  top: calc(50% - 10px);
  left: 25px;
}
.answer__list li input[type=radio]:checked + label::before {
  border-color: #272727;
  background-color: #2950C2;
}

.answer__list-padding {
  padding-top: 15px;
}

.answer__list-cube {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 21px;
  padding: 20px 26px 0px 26px;
  justify-items: center;
}
.answer__list-cube li {
  width: 75px;
  height: 75px;
}
.answer__list-cube input {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.answer__list-cube label {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.answer__list-image {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.answer__list-image li {
  width: 42px;
  height: 42px;
  background-color: #FFFFFF;
  color: #000;
}
.answer__list-image input {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.answer__list-image label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0px;
}

.answer__list-image2 {
  display: flex;
  justify-content: space-between;
  padding: 20px 17px 0px 17px;
}
.answer__list-image2 li {
  width: 42px;
  height: 42px;
  background-color: #FFFFFF;
  color: #000;
}
.answer__list-image2 input {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.answer__list-image2 label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0px;
}

.test-img-padding {
  padding: 20px 0px 17px 0px;
}

.answer.cube label {
  padding-left: 80px;
  font-weight: 400;
  width: 10000000000%;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.answer.cube ::before {
  content: "";
  visibility: hidden;
}

.answer.select {
  background-color: #FFC700;
  color: #181818;
  border: 5px solid #FFC700;
}

.answer.selectImg {
  background-color: #FFFFFF;
  color: #181818;
  border: 5px solid #FFC700;
}

.quiz__next-btn {
  margin-top: auto;
  margin-bottom: 23px;
}

.quiz__loader h5 {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 50px;
}
.quiz__loader p {
  padding-top: 30px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
}
.quiz__loader .dot-spinner {
  --uib-size: 4.8rem;
  --uib-speed: .9s;
  --uib-color: #3BDE7C;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
  margin: 0 auto;
}
.quiz__loader .dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.quiz__loader .dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0.5;
  -webkit-animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  -webkit-box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}
.quiz__loader .dot-spinner__dot:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.quiz__loader .dot-spinner__dot:nth-child(2)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.875);
  animation-delay: calc(var(--uib-speed) * -0.875);
}
.quiz__loader .dot-spinner__dot:nth-child(3) {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.quiz__loader .dot-spinner__dot:nth-child(3)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.75);
  animation-delay: calc(var(--uib-speed) * -0.75);
}
.quiz__loader .dot-spinner__dot:nth-child(4) {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.quiz__loader .dot-spinner__dot:nth-child(4)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.625);
  animation-delay: calc(var(--uib-speed) * -0.625);
}
.quiz__loader .dot-spinner__dot:nth-child(5) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.quiz__loader .dot-spinner__dot:nth-child(5)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.5);
  animation-delay: calc(var(--uib-speed) * -0.5);
}
.quiz__loader .dot-spinner__dot:nth-child(6) {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.quiz__loader .dot-spinner__dot:nth-child(6)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.375);
  animation-delay: calc(var(--uib-speed) * -0.375);
}
.quiz__loader .dot-spinner__dot:nth-child(7) {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.quiz__loader .dot-spinner__dot:nth-child(7)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.25);
  animation-delay: calc(var(--uib-speed) * -0.25);
}
.quiz__loader .dot-spinner__dot:nth-child(8) {
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.quiz__loader .dot-spinner__dot:nth-child(8)::before {
  -webkit-animation-delay: calc(var(--uib-speed) * -0.125);
  animation-delay: calc(var(--uib-speed) * -0.125);
}
@-webkit-keyframes pulse0112 {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pulse0112 {
  0%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.result-content {
  padding: 0px 15px;
  height: calc(100vh - 65px);
}

.result-header {
  margin-top: 35px;
  margin-bottom: 15px;
}
.result-header div {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #3BDE7C;
  text-transform: uppercase;
  margin-top: 25px;
}

.result-main {
  font-size: 30px;
}

.result-info {
  margin-top: 50px;
  font-size: 18px;
}

.result-links {
  margin-top: 50px;
  font-size: 18px;
}

.result-list {
  margin-bottom: 30px;
}

.result-link {
  margin-top: 20px;
}
.result-link a {
  height: 100%;
  text-decoration: none;
  color: #04fcfc;
  text-transform: capitalize;
  font-size: 25px;
  transition: 0.3s ease;
  display: inline-block;
}
.result-link a:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
  background: linear-gradient(to right, #08CF16 0%, #e4ab02 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-confidentiality {
  border-radius: 6px;
  background-color: #1C2741;
}
.result-confidentiality p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px;
}

.result-timer {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #3BDE7C;
  padding-top: 5px;
}
.result-timer span {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #3BDE7C;
}

.result-call {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  min-width: 290px;
  width: 100%;
  height: 92px;
  background-color: red;
  padding: 0px 15px;
  border-radius: 5px;
}
.result-call ::before {
  content: url("../img/Call.svg");
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.result-call svg {
  height: 20px;
  width: 20px;
  color: #ffffff;
}
.result-call button {
  display: flex;
  align-items: center;
  text-align: start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  width: 100%;
  height: 100%;
}

#data-container {
  width: 290px;
  background: radial-gradient(rgba(0, 223, 223, 0.9843137255), #b84747);
  border-radius: 10px;
  box-shadow: 1px 2px 2px red;
  overflow: auto;
  transition: all 0.4s ease;
}

.data__text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.key__value-container {
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 7px;
}

.key {
  display: flex;
}
.key p {
  width: 80px;
  height: 20px;
  text-align: start;
  text-transform: capitalize;
}
.key span {
  margin-left: 5px;
}

.value {
  width: 100%;
  margin-left: 20px;
}
.value p {
  text-align: start;
  width: 100%;
  text-transform: capitalize;
}

.data__text-elem {
  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
}

.test__info-section {
  display: none;
}

.test__info-section-block {
  display: block;
}

.about {
  background-image: url(../img/bluefon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 339px;
  position: relative;
  z-index: 1;
}
.about img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.about ::after {
  content: "";
  background-image: url(../img/lapki.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 40px;
  left: 30px;
  width: 23px;
  height: 23px;
}
.about ::before {
  content: "";
  background-image: url(../img/lapki.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 23px;
  height: 23px;
  transform: rotate(-180deg);
}
.about h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.05em;
  margin: 0 auto;
  width: 248px;
  height: 228px;
  padding-top: 83px;
  text-align: center;
  font-family: "Yeseva One", serif;
}

.field__activity {
  color: #272727;
  padding: 38px 10px 0px 10px;
  text-align: center;
  max-width: 1100px;
  margin: 0 auto;
}
.field__activity-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: start;
  padding-bottom: 40px;
}
.field__activity span {
  font-weight: 700;
  text-transform: uppercase;
}
.field__activity .lowercase-span {
  text-transform: lowercase;
}
.field__activity button {
  margin-bottom: 40px;
}

.test__time {
  background-image: url(../img/rain_bk2.png);
  padding: 50px 10px;
  font-family: "Merriweather" serif;
  font-weight: 400;
  text-align: center;
}
.test__time .upper-text {
  max-width: 1100px;
  margin: 0 auto;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: start;
}
.test__time .upper-text span {
  color: #FFC700;
  font-weight: 900;
  font-family: "Merriweather";
}
.test__time .upper-text .white-span {
  color: #FFFFFF;
  font-weight: 900;
}
.test__time .gray__table {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 20px;
  background: rgba(243, 243, 242, 0.8);
  border-radius: 20px;
  color: #181818;
  text-align: start;
}
.test__time .gray__table p {
  padding: 30px 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.05em;
}
.test__time .gray__table span {
  font-weight: 700;
}
.test__time button {
  margin-top: 33px;
}

footer {
  min-width: 320px;
  height: 25px;
  background-color: #181818;
  overflow: auto;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Roboto" sans-serif;
  font-size: 10px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  padding-left: 5px;
}
footer .footer__result {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  height: 40px;
}/*# sourceMappingURL=style.css.map */